# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Sanal ortam
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Ortam değişkenleri (gizli)
.env

# Medya (kullanıcı yüklemeleri)
media/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
